$def with (id)

<html lang="en">
<head>
    <title>Splitter Demonstrator</title>
    <link rel="stylesheet" href="https://cdn.rawgit.com/Chalarangelo/mini.css/v3.0.1/dist/mini-default.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body style="display: flex;">
<div style="margin: auto;">
    <h1>Results</h1>
    <h3>Instrument</h3>
    <audio controls>
        <source src="/result?id=$id&type=instrument" type="audio/wav">
        Your browser does not support the audio tag.
    </audio>
    <h3>Rest</h3>
    <audio controls>
        <source src="/result?id=$id&type=rest" type="audio/wav">
        Your browser does not support the audio tag.
    </audio>
    <div class="row">
        <a href="/">
            <button class="tertiary">Another!</button>
        </a>
    </div>
</div>
</body>
</html>